* {
  box-sizing: border-box;
  margin: 0;
}


body {
  color: rgb(228, 228, 228);
  font-family: 'Abel';
  cursor: crosshair;
  min-height: 100vh;
}
#holo_fun {
  background-image: linear-gradient(0.12turn,
      #45666D,
      #333352,
      #45666D,
      rgb(77, 55, 77));
  background-size: 369.20%;
}



.nav_background {
  /* background-color: plum; */
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  margin-top: -15vh;
  padding: 0 0 0 0;
  z-index: 10;
}
nav {
  background-color: #45666d44;
  /* background-color: #45666d; */
  width: 79.25vw;
  margin-left: 10.25vw;
  height: 12.0vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}






.intro, 
.project_box_wrapper {
  margin: 15vh 10vw 0 10vw;
  /* background-color: rgba(15, 93, 107, 0.89); */
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}
.project_box {
  /* background-color: #45666d69; */
  padding: 0.25vw 0.25vw 0.25vw 0.25vw;
  width: 19.9vw;
  height: 19.9vw;
}
.project_box_content {
  background-color: #45666d44;
  padding: 1.5vw 0.5vw 0.5vw 1.5vw;
  width: 19.5vw;
  height: 19.5vw;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.151);
}







html { font-size: 14px; } /* default html size */
h1, h2, h3, h4 {   
  color: plum; 
  font-size: 1vw;
}
p, ul, ol, li { 
  font-size: 0.8vw; }



::selection {
  color: #333352;
  background: rgb(228, 228, 228);
}






/* TYPEWRITER */
/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter_area {
  overflow: hidden; 
  border-right: .15em solid plum; 
  white-space: nowrap;  
  margin: 20 auto; 
  letter-spacing: .15em; 
  animation:   typing 2.5s steps(66, end),  blink-caret .75s step-end infinite;
}
@keyframes typing {  from {    width: 0  }  to {    width: 100%  }}/* The typing effect */
@keyframes blink-caret {  from, to {    border-color: transparent  }  50% {    border-color: plum;  }}/* The typewriter cursor effect */




/* THREE CSS TYPING EXAMPLES FOR PARAGRAPHS */
/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.css-typing p, .css-typing h1 {
  border-right: .15em solid orange;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
/* type 1 */
.css-typing p:nth-child(1) {
  width: 7.3em;
  -webkit-animation: type1 2s steps(40, end);
  animation: type1 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type1 {  
  0%    {    width: 0;  }
  99.9% {    border-right: .15em solid orange;  }
  100%  {    border: none;  }
}
@-webkit-keyframes type1 {
  0%    {    width: 0;  }
  99.9% {    border-right: .15em solid orange;  }
  100%  {    border: none;  }
}
/* type 2 */
.css-typing p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type2 {  
  0%    {    width: 0;  }
  1%    {    opacity: 1;  }
  99.9% {    border-right: .15em solid orange;  }
  100%  {    opacity: 1;    border: none;  }
}
@-webkit-keyframes type2 {
  0%    {    width: 0;  }
  1%    {    opacity: 1;  }
  99.9% {    border-right: .15em solid orange;  }
  100%  {    opacity: 1;    border: none;  }
}
/* type 3 */
.css-typing p:nth-child(3) {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type3 {  
  0%   {    width: 0;  }
  1%   {    opacity: 1;  }
  100% {    opacity: 1;  }
}
@-webkit-keyframes type3 {
  0%   {    width: 0;  }
  1%   {    opacity: 1;  }
  100% {    opacity: 1;  }
}
/* blinky blinky */
@keyframes blink {  50% {    border-color: transparent;  }}
@-webkit-keyframes blink {  50% {    border-color: tranparent;  }}






















@media screen and (min-width: 1px) and (max-width: 700px)  {

  body {
    background-color: #333352; 
  } 
  
  .project_box {
    padding-left: 1.2vw;
    width: 38.8vw;
    height: 38.8vw;
  }
  .project_box_content {
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
    width: 38.8vw;
    height: 38.8vw;
  }

}


@media screen and (min-width: 1px) and (max-width: 300px)  {

  html {  font-size: 3vw; } 
  

}













/* https://www.w3schools.com/howto/howto_js_typewriter.asp */