
/******************************************************************************/
/* TYPEWRITER CSS  */

.typewriter_area {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .0em;
  animation: typing 3.1s steps(66, start);

  margin: 0px 0px 0px 5px; 
  padding: 0px 0px 10px 0px; 
  width: auto;
  /* border: greenyellow 1px solid; */
}

@keyframes typing {
  from {    width: 0  }
  to   {    width: 100%  }
}







/******************************************************************************/
/* blinky blinky */

.glow {
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 1.666s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 0.05rem rgb(194, 165, 181),
      0 0 0.05rem rgb(194, 165, 181),
      0 0 0.05rem rgb(194, 165, 181),
      0 0 0.10rem rgb(209, 203, 207),
      0 0 0.10rem rgb(209, 203, 207),
      0 0 0.11rem rgb(209, 203, 207)
  }
  to {
    text-shadow:
    0 0 0.05rem rgb(194, 165, 181),
  }
}








/******************************************************************************/
/* squirrels flip */

.squirrel_icon_flip_svg {
  margin-top: 1vh;
  margin-right: 1vh;
  color: rgb(228, 228, 228);
  width: 8vw;
  opacity: 60%;
  animation: squirrel_flip 3s infinite;
  
}
@keyframes squirrel_flip {  0% {
    transform: rotate(360deg);  }
}
/* if PNG */
/* .squirrel_icon_flip {
  margin-top: 5vh;
  width: 10vw;
  filter: invert(98%) sepia(1%) saturate(78%) hue-rotate(184deg) brightness(111%) contrast(79%);
  opacity: 30%; 
  animation: squirrel_flip 5s infinite; 
} @keyframes squirrel_flip {  100% {transform: rotate(360deg);}}  */


/******************************************************************************/
/* squirrels jump */

.squirrel_icon_jump_svg {
  position: relative;
  margin-top: 8vh;
  padding: 0;
  width: 10vw;
  color: rgb(228, 228, 228);
  width: 8vw;
  opacity: 60%;
  animation: squirrel_jump 0.666s infinite;
  
}
@keyframes squirrel_jump {
  000% {    bottom: -020px;  }
  080% {    bottom: +100px;  }
  100% {    bottom: -020px;  }
}

/* if PNG */
/* .squirrel_icon_jump {
  position: relative;
  margin-top: 8vh;
  padding: 0;
  width: 10vw;
  filter: invert(98%) sepia(1%) saturate(78%) hue-rotate(184deg) brightness(111%) contrast(79%);
  opacity: 30%; 
  animation: squirrel_jump 0.666s infinite;   
} @keyframes squirrel_jump {
  000%  {bottom:  -020px;}
  080%  {bottom:  +100px;}
  100%  {bottom:  -020px;}
} */

/* @keyframes squirrel_jump { 100% { */
/* transform: translateX(20px);  */
/* transform: translateY(20px);  */
/* transform: rotateZ(9deg);   */
/* rotate, scale, move (translate), and skew elements */
/* matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */
/* transform: matrix(2, 0, 0, 0, 0, 0);} } */







/******************************************************************************/
/* DOTS FOR the \\ MAIN SCREEN > .scr1_articles > .scr1_article2_dots */ 


.dot_anime_01, .dot_anime_02, .dot_anime_03, .dot_anime_04,
.dot_anime_05a, .dot_anime_05b, .dot_anime_06, .dot_anime_07, .dot_anime_08 {
  filter: opacity(80%);
  margin: 0; padding: 0;
  width: 100px;   height: 100px;
  border-radius: 50%;
  position: relative; 
  transition: 1000ms;
  /* animation-delay: 10s;  */
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.dot_anime_05b {
  padding-top: 60px;
}
.dot_anime_08 {
  padding-top: 0px;
}

.dot_anime_01  {animation: dot_01  06.666s infinite; }
.dot_anime_02  {animation: dot_02  07.666s infinite; }
.dot_anime_03  {animation: dot_03  05.666s infinite; }
.dot_anime_04  {animation: dot_04  05.666s infinite; }
.dot_anime_05a {animation: dot_05a 04.666s; }
.dot_anime_05b {animation: dot_05b 04.666s infinite; width: 150px; height: 150px; }
.dot_anime_06  {animation: dot_06  05.666s infinite; }
.dot_anime_07  {animation: dot_07  07.666s infinite; }
.dot_anime_08  {animation: dot_08  10.000s infinite; }

@keyframes dot_01 { /*UX/UI*/
  000% {left:+000px; top:+000px; background-color:#33335254; }
  025% {left:+400px; top:+000px; background-color:#33335296; }
  050% {left:+400px; top:+200px; background-color:#333352c0; }
  075% {left:+000px; top:+200px; background-color:#3333522a; }
  100% {left:+000px; top:+000px; background-color:#33335254; }
} 
@keyframes dot_02 { /*code*/
  000% {left:+000px; top:-100px; background-color:#33335254; }
  025% {left:+400px; top:+000px; background-color:#33335296; }
  050% {left:+400px; top:+200px; background-color:#333352c0; }
  075% {left:+000px; top:+200px; background-color:#3333522a; }
  100% {left:+000px; top:-100px; background-color:#33335254; }
} 
@keyframes dot_03 { /*interaction 1*/
  000% {left:+300px; top:-100px; background-color:#33335254; }
  025% {left:+400px; top:+000px; background-color:#33335296; }
  050% {left:+400px; top:+100px; background-color:#7e677e4b; }
  075% {left:+000px; top:+100px; background-color:#5745576b; }
  100% {left:+300px; top:-100px; background-color:#33335254; }
}
@keyframes dot_04 { /*interaction 2*/
  000% {left:+400px; top:-100px; background-color:#33335254; }
  025% {left:+400px; top:+000px; background-color:#33335296; }
  050% {left:+400px; top:+070px; background-color:#816a813a; }
  075% {left:+000px; top:+070px; background-color:#7461746b; }
  100% {left:+400px; top:-100px; background-color:#33335254; }
} 

@keyframes dot_05a { /*user 1*/
  000% {left:+000px; top:+300px; background-color:#478f891f; }
  040% {left:+200px; top:+300px; background-color:#33335296; }
  050% {left:+200px; top:+300px; background-color:#4386813a; }
  060% {left:+200px; top:+300px; background-color:#3333522a; }
  100% {left:+200px; top:+300px; background-color:#478f891f; }
}
@keyframes dot_05b { /*user 2*/
  000% {left:+200px; top:+000px; background-color:#478f891f; }
  040% {left:+200px; top:+000px; background-color:#33335296; }
  050% {left:+200px; top:+000px; background-color:#4386813a; }
  060% {left:+200px; top:+000px; background-color:#3333522a; }
  100% {left:+200px; top:+000px; background-color:#478f891f; }
}

@keyframes dot_06 { /*empathy*/
  000% {left:+100px; top:-100px; background-color:#33335254; }
  025% {left:+150px; top:-100px; background-color:#33335296; }
  050% {left:+350px; top:+000px; background-color:#333352c0; }
  075% {left:+150px; top:-050px; background-color:#3333522a; }
  100% {left:+100px; top:-100px; background-color:#33335254; }
}
@keyframes dot_07 { /*design thinking*/ 
  000% {left:+300px; top:+000px; background-color:#33335254; }
  025% {left:+200px; top:-100px; background-color:#33335296; }
  050% {left:+100px; top:-200px; background-color:#333352c0; }
  075% {left:+000px; top:-100px; background-color:#3333522a; }
  100% {left:+300px; top:+000px; background-color:#33335254; }
}
@keyframes dot_08 { /*magda*/
  000% {left:400px; top:-200px; background-color:#2494851e; }
  010% {left:400px; top:-200px; background-color:#24948513; }
  020% {left:400px; top:-100px; background-color:#2494851f; }
  030% {left:400px; top:+000px; background-color:#24948513; }
  040% {left:100px; top:+000px; background-color:#24948518; }
  050% {left:100px; top:+000px; background-color:#33335254; }
  060% {left:100px; top:-100px; background-color:#24948513; }
  080% {left:150px; top:-250px; background-color:#24948515; }
  090% {left:200px; top:-350px; background-color:#2494851c; }
  100% {left:400px; top:-200px; background-color:#2494851e; }
}



