 :root {  

  --main_gray_100: rgba(67, 67, 67, 1.0); 
  --main_gray_080: rgba(67, 67, 67, 0.8);
  --main_gray_060: rgba(67, 67, 67, 0.6);
  --main_gray_040: rgba(67, 67, 67, 0.4); 

  --sub_background: rgb(57, 55, 55);
  --sub_background: #5A4634;

  --main_white_100: rgba(228, 228, 228, 1.0); 
  --main_white_080: rgba(228, 228, 228, 0.8);
  --main_white_060: rgba(228, 228, 228, 0.6);
  --main_white_040: rgba(228, 228, 228, 0.4); 
  --main_white_020: rgba(228, 228, 228, 0.2); 
  
  --sub_text_accent: rgba(235, 206, 129, 1.0);
  --sub_text_accent: rgb(239, 224, 183);

  /* for buttons and links */
  --main_white_default: rgba(228, 228, 228, 0.8);
  --main_white_hover: rgba(228, 228, 228, 1.0); 

  /* for nav and cards */
  --main_dark_gray_100: rgba(28, 28, 34, 1.0);
  
}

* {
  box-sizing: border-box;
  /* margin: 0; padding: 0;   */
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  padding: 5rem 0 5rem 0;
  background-color: var(--sub_background);
  color: var(--main_white_100);
  font-family: 'Abel'; 
  width: 100vw; 
  min-height: 100vh;  
  
}

::selection {  color: var(--main_gray_100);  background: var(--main_white_100);} 

::-webkit-scrollbar {  width: 2px;}
::-webkit-scrollbar-track {  box-shadow: inset 0 0 0.5rem var(--main_gray_100);  border-radius: 0px;}
::-webkit-scrollbar-thumb {  background: var(--main_white_100);  border-radius: 0rem;}
::-webkit-scrollbar-thumb:hover {  background: var(--main_white_100);}

.char_desaturated {  filter: grayscale(85%) hue-rotate(30deg);}

.clearfix    {  overflow: hidden; } 


html {  font-size: 16px } 

h1, h2, h3, h4, p, ol, ul, li {
  width: 800px; 
  margin: 0 auto;
}

h1, h2, h3 ,h4 {  
  color: var(--main_white_100);  
  color: var(--sub_text_accent);
  text-shadow: 0.1vw 0.1vw 0.2vw var(--main_gray_100);  
  font-weight: 100; 
  border: none;  
}

h1 {    
  font-size: 2.2rem;  line-height: 2.2rem;  padding-bottom: 3rem; 
} 

h2 {  
  font-size: 1.9rem;  line-height: 1.9rem;  padding-bottom: 1rem; 
} 

h3 {  
  font-size: 1.4rem;  line-height: 1.6rem;  padding-bottom: 0.6rem;
}

h4 {  
  font-size: 1.2rem;  line-height: 1.4rem;  padding-bottom: 0.6rem;
}


p,ul, ul li {  
  font-size: 1.1rem; 
  line-height: 2.4rem;
  padding: 0 0 1rem 0;   
  list-style-type: none; 
  /* border: solid green 1px; */
}

ol{  
  font-size: 1.1rem; 
  line-height: 2.4rem;
  padding: 0 0 1rem 1rem ;   
  list-style-position: outside; 
  /* border: solid red 1px; */
}

li {
  line-height: 1.8rem;
  margin-bottom: 1rem;
}


.text_link:link,.text_link:visited {
  display: inline-block;
  color: var(--main_white_100);
  text-decoration: none; 
  /* font-size: 1.1rem; */
  margin: 0; padding: 0; 
  transition: 0.366s ease-out; 
  text-decoration: underline; 
  text-underline-offset: 0.28rem; 
  text-decoration-thickness: 0.06rem;
}
.text_link:hover,.text_link:active,.text_link:focus {
  text-decoration-thickness: 0.09rem;
  transition: 0.366s ease-out;
  text-decoration-style: wavy; 
  text-decoration-color: var(--sub_text_accent);
}



.cta_button {
  display: flex; align-items: center; 
  width: 280px;  height: 50px; 
  padding: 0; margin: 0;
  background-color: transparent;
  color: var(--main_white_defaut);
  border: var(--main_white_default) 0.10rem solid; border-radius: 0.2rem; 
}
.cta_button:hover, .cta_button:focus, .cta_button:active {
  color: var(--main_white_hover);
  border: var(--main_white_hover) 0.14rem solid; border-radius: 0.2rem;
}

.cta_button_content { 
  display: flex;  align-items: center;  align-content: center; justify-items: center;  justify-content: center; 
  width: 200px;   height: 50px;
  margin: 0 auto;  padding: 0.5rem;
  color: var(--main_white_default);  text-decoration: none;  text-align: center;  font-size: 1.4rem;
  background-color: transparent;
}
.cta_button_content:hover,.cta_button_content:focus,.cta_button_content:active {
  color: var(--main_white_hover);
}

figure, figcaption {
  margin: 0 auto; 
}

.img_wide {
   width: 80vw;
} 

 .img_shadow {
  width: 800px; 
  border-radius: 0.4rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}







@media screen and (min-width:1px) and (max-width: 1000px) {
  html {  font-size: 15px }
  h1, h2, h3, h4, p, ol, ul, li {
    width: 90vw; 
    margin: 0 auto;
  }
  .img_wide {
    width: 90vw;
 } 
 
  .img_shadow {
   width: 90vw;   
 }

}

@media screen and (min-width: 601px) and (max-width: 800px) {
  html {  font-size: 14px }
}

@media screen and (min-width: 1px) and (max-width: 600px) {
  html {  font-size: 12px }

  /* .cta_button {
    width: 100%; 
  }
    .cta_button_content { 
    width: 80%;
  } */



}