/******************************************************************************/
/* MEDIA QUERIES : medium width // tablets and stuff */


@media screen and (min-width: 1px) and (max-width: 1225px) {

  body {
    display: flex;
    flex-direction: column;
  }

  .break_mobile_none {
    display: none;
  }

  .anchor {
    position: absolute;
    margin: -12.666vh;
  }


  .screen_title {
    width: 90vw;
    height: 10vh;
  }
  .screen_title h1 {
    font-size: 4rem;
    text-align: end;
    padding: 2% 2% 1% 1%;
  }

  .dot_explanation {display:none; }


  /******************************************************************************/
  /* NAVIGATION */
  .nav_background {
    height: 10vh;
    width: 100vw;
    margin-top: 0vh;
    padding: 0;
  }
  nav {
    height: 10vh;
    width: 90vw;
  }
  .nav_background nav div a, .nav_box {
    font-size: 3vw;
    height: auto;
  }



  /******************************************************************************/
  /* SCREENS, SCREEN 1 unique settings, ASIDE, MAIN, SCREEN 6 (contact) */
  .screen1, .screen2, .screen3, .screen4, .screen5, .screen6 {
    border: rgba(228, 228, 228, 0.151) 0.2rem solid;
    border-radius: 5px;
    margin-top: 5rem;
    padding-bottom: 2vh;
    height: 100%;
    width: 90vw;
  }

  .screen1 {
    position: static;
    /* min-height: 0vh; */
    background-size: cover;
    margin-top: 10vh;
    width: 100vw;
    border: none;
  }

  .screen_flex_layout1, .screen_flex_layout2, .screen_flex_layout3,
  .screen_flex_layout4, .screen_flex_layout5, .screen_flex_layout6 {
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    padding-bottom: 0px;
  }

  .screen_flex_layout1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 2rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .scr1_articles {
    width: 90vw;
    height: auto;
    margin: 0 auto;
  }

  .scr1_article1_magda {
    width: 90vw;
    height: auto;
    margin: 0 auto;
  }

  .scr1_article1_magda  section {
    width: 90vw;
    height: auto;
    margin: 0 auto;
  
  }

  .scr1_article2_dots {
    display: none;
  }



  aside, main {
    height: 100%;
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 3% 3% 3% 3%;
    border: 0.4vw;
  }

  aside {    text-align: left;  }
  main  {    order: -1;  }
  aside>section>ul, aside>section>ul>li {    text-align: left;  } 
  
  
  /* SCREEN 6 with changed contact layout */ 

  .screen6 {
    margin: 0 auto;
    margin-top: 9vh;
    min-height: 50vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
  }

  .screen_flex_layout6 {
    display: flex; 
    flex-direction: column; 
  }

  .screen_flex_layout6 aside {
    display: flex; 
    flex-direction: row;
    min-height: 29vh; 
    width: 100%; 
  } 
  .screen_flex_layout6 aside .contact_languages {
    margin: 0;
    padding: 0; 
    width: 400px;
  }

  .screen_flex_layout6 main {
    display: flex; 
    flex-direction: row-reverse;
    min-height: 30vh;
    width: 100%;
  } 
  .screen_flex_layout6 main .address {
    margin: 0;
    margin-right: -1rem;
    padding: 0;
    width: 400px;
  }

  /* -------------------------------------- */




  /******************************************************************************/
  /* BARS contacts HYF + CONTACTS MAGDA */

  .non_hover_bars {
    width: 80vw;
  }

  .link_bars {
    width: 80vw;
  }

  .link_bars:hover {
    opacity: 50%;
  }

  .contact_icon_line_hyf {
    float: left;
    margin: 0% 0% 0% 0%;
    padding: 1% 0% 1% 0%;
    display: flex;
    flex-direction: row-reverse;
  }

  .address {
    margin-right: 100px;
  }

  .contact_icon_line_mag {
    float: right;
    flex-direction: row-reverse;
  }

  .icon_link {
    width: 5vw;
    margin: 5% 0% 1% 0%;
  }

  .contact_languages {
    position: absolute;
    margin-top: 1.50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: flex-start;
    width: 250px;
  }

  .skills_icon_line>img {
    height: 4vw;
  }




  /******************************************************************************/
  /* FOOTER */

  footer {
    width: 90vw;
  }
  .blob {
    height: 49vw;
    width: 100vw;
    border: none;
    clip-path: ellipse(57% 100% at 57% 100%);
  } 
  
  
    
  /******************************************************************************/
  /* ROUND UP/DOWN BUTTONS */

  .button_r {
    display: none;
  }
  .button_r_landing {
    margin-top: 0vh;
    padding: 0;
  }


  /******************************************************************************/
  /* all SLIDES, ACCORDION and ANIMATIONS */

  .autoslides_container, .auto_slides, .auto_images {
    width: 10rem;
    height: 10rem;
  }

  .accordion {
    font-size: 1.6rem;
    padding: 1% 1% 1% 1%;
    margin: 1% 0% 0% 0%;
    width: 85vw;
  }
  .accordion:after {
    font-size: 1.6rem;
  }
  .panel {
    width: 85vw;
  }


  .squirrel_icon_flip_svg,
  .squirrel_icon_jump_svg {
    width: 10rem;
  }










  @media screen and (min-width: 1px) and (max-width: 700px) { 
    
    /******************************************************************************/
    /******************************************************************************/
    /* BASICS */  

    h3 {  font-size: 1.50rem;  line-height: 1.50rem; }
    h2 {  font-size: 2.00rem;  line-height: 2.00rem; }
    p, ul, li {
      margin: 0; 
      padding: 0;
      max-width: 85vw;
    }
    .accordion { font-size: 1.20rem; }
      /* afects the text on the bar (NOT plus/minus) */   
       
    
    

    /******************************************************************************/
    /******************************************************************************/
    /* NAVIGATION */
    .nav_background {
      position: fixed;
      width: 100%;
      height: 10vh;
      margin-top: 0vh;
      border: none;
    }
    nav {
      width: 10vh;
      height: 10vh;
      right: 2vw;
      float: right;
    }
    nav div a {
      align-items: center;
      text-decoration: none;
      font-size: 11.0vw;
      font-weight: 520;
      padding: 0;
      margin: 0;
    }
    .nav_box,
    .nav_box1, .nav_box2, .nav_box3,
    .nav_box4, .nav_box5, .nav_box6 {
      display: none;
    }
    .nav_box7 {
      /* HAMBURGER */
      border: none;
      visibility: visible;
      display: flex !important;
      align-items: center;
      justify-content: center;
      width: 10vh;
      height: 10vh;
      margin: 0 0 0 0;
      padding: 0 20px 0 0;
      font-size: 5.5vh;
    } 
    
    
    
    /******************************************************************************/
    /******************************************************************************/
    /* OUTER/INNER SCREENS, SCREEN 1 unique settings, ASIDE, MAIN, SCREEN 6 (contact) */
   
    .screen1, .screen2, .screen3, .screen4, .screen5, .screen6 {
      
      margin-top: 10vh;       
      margin-bottom: 5vh;  
    }
    .screen1 {
      width: 100vw;
    }

    .screen_title {
      text-align: start;
      height: 3rem;
      width: 90vw;
      margin-bottom: 5rem;
    }
  
    .screen_flex_layout1, .screen_flex_layout2, .screen_flex_layout3,
    .screen_flex_layout4, .screen_flex_layout5, .screen_flex_layout6 {
      flex-direction: column;
      width: 100%; 
      margin: auto;
      height: 100%;
      padding-bottom: 0px;
    }

    .screen_flex_layout1 {
      width: 100%;
      height: auto;
      flex-direction: column;
    }
    .scr1_articles {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .scr1_article1_magda {
      width:100% ; 
      height:auto;   
      margin: 0 auto;
    }
   .scr1_article1_magda  section {
      width: 100%;
      height: auto; 
      /* margin: 1rem 0rem 1rem 1rem;  */
      margin: 0 auto;
    }  
    
    
    
    aside, main {
      width: 95vw;
      height: 100%;
      margin: 0% 0% 0% 0%;
      padding: 1% 1% 2% 2%;
      border: 0.4vw;
    }
    aside {
      text-align: left;
      margin: 0% 0% 3% 0%;
    }
    main {
      order: -1;
    }
    


    /******************************************************************************/
    /******************************************************************************/
    /* INNER SCREENS : LISTS */
  
    aside>section>ul,
    aside>section>ul>li {
      text-align: left;
    } 
    
    
    /******************************************************************************/
    /******************************************************************************/
    /* INNER SCREENS : icons and icon bars */
    .non_hover_bars  {  width: 80vw;    }
    .link_bars       {  width: 80vw;    }
    .link_bars:hover {  width: 80vw;    }  
    
    .skills_icon_line>img {
      height: 2.50rem;
    }

 
  

    /******************************************************************************/
    /******************************************************************************/
    /* FOOTER */  /* footer_buttons are styled in the nav buttons section */
    
    footer {
      width: 100%;
      /* border: solid 2ps rgb(228, 228, 228); */
    }
    .blob {
      /* display: block;
      box-sizing: border-box; */
      height: 50vw;
      width: 100vw;
      border: none;
      clip-path: ellipse(52% 100% at 58% 100%);
    }
    .blob p {
      font-size: 1rem;
    }
    
    

    /******************************************************************************/
    /******************************************************************************/
    /* ROUND CONTACT-ICONS-LINKS (coding education + contact screen) */

    .contact_icon_line_mag,
    .contact_icon_line_hyf {
      margin: 0% 0% 0% 0%;
      padding: 1% 2% 1% 0%;
    }

    .icon_link {
      width: 8vw;
      margin: 5% 0% 1% 0%;
    }  
    
    
    
    /******************************************************************************/
    /******************************************************************************/
    /* ROUND UP/DOWN BUTTONS */

    .button_r {
      display: none;
    }
    .button_r_landing {
      margin-top: 0vh;
    }
    .button_simulacrum {
      display: none;
    }    
    
    
    
    
    /******************************************************************************/
    /******************************************************************************/
    /* all SLIDES, ACCORDION and ANIMATIONS */

    .accordion {
      width: 86vw;
    }    

    
    .autoslides_container_outer {
      order: -1;
      width: 30vw;
      height: 30vw;
    }
    .autoslides_container,
    .auto_slides,
    .auto_images {
      width: 20vw;
      height: 20vw;
    }




    .lightbox {
      width: 350px;
     
    }



    .squirrel_icon_flip_svg,
    .squirrel_icon_jump_svg {
      width: 20vh;
    }
    .squirrel_icon_jump {
      padding-left: 10vw;
    }






    



   




















  }






















}