/******************************************************************************/
/* body / background */ 

:root {  

  --main_gray_100: rgba(67, 67, 67, 1.0); 
  --main_gray_080: rgba(67, 67, 67, 0.8);
  --main_gray_060: rgba(67, 67, 67, 0.6);
  --main_gray_040: rgba(67, 67, 67, 0.4);

  --main_white_100: rgba(228, 228, 228, 1.0); 
  --main_white_080: rgba(228, 228, 228, 0.8);
  --main_white_060: rgba(228, 228, 228, 0.6);
  --main_white_040: rgba(228, 228, 228, 0.4); 
  --main_white_020: rgba(228, 228, 228, 0.2); 

  /* for buttons and links */
  --main_white_default: rgba(228, 228, 228, 0.8);
  --main_white_hover: rgba(228, 228, 228, 1.0); 

  /* for nav and cards */
  --main_dark_gray_100: rgba(28, 28, 34, 1.0);
  
}


* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 16px;
  width: 100vw;
  font-weight: 800;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--main_gray_100);
  color: var(--main_white_100); 
  /* font-family: "Abel";  */
  /* font-family: "Dosis";  */
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 100; 
  letter-spacing: -0.2px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y : visible;
}

::selection {  color: var(--main_gray_100);  background: var(--main_white_100);} 

/* scrollbar */
::-webkit-scrollbar {  width: 2px;}
::-webkit-scrollbar-track {  box-shadow: inset 0 0 0.5rem var(--main_gray_100);  border-radius: 0px;}
::-webkit-scrollbar-thumb {  background: var(--main_white_100);  border-radius: 0rem;}
::-webkit-scrollbar-thumb:hover {  background: var(--main_white_100);}


#holo_fun {
  background-image: linear-gradient(0.12turn, #4343433c, #2e2e2e, #1c1c1c48);
  background-size: 369.666%;
}

#up_button {
  display: none;  position: fixed; cursor: pointer; outline: none;
  bottom: 1rem;  right: 0.8vw;  z-index: 99;  
  height: 3.2rem;  width: 3.2rem; font-size: 1.2rem;
  padding: 0; margin: 0;
  background-color: transparent;
  color: var(--main_white_default);
  border: var(--main_white_default) 0.10rem solid; border-radius: 0.2rem;
}
#up_button:hover {
  color: var(--main_white_hover);
  border: var(--main_white_hover) 0.14rem solid; border-radius: 0.2rem;
}




/******************************************************************************/
/* FONTS (except nav links and nav buttons) */  

.flex_row {  display: flex;  flex-direction: row;}
.flex_column {  display: flex;  flex-direction: column;}
.clearfix {  overflow: hidden;}
.anchor {  position: absolute;  margin: -9.666vh 0 0 0;  border: 0px solid pink;}
.char_desaturated {  filter: grayscale(80%);}  
.white-space-1rem {  padding-left: 1rem;}

h1, h2, h3 ,h4 {  
  color: var(--main_white_100);  
  text-shadow: 0.1vw 0.1vw 0.2vw var(--main_gray_100);  
  font-weight: 100; 
  padding: 0;  margin: 0;  
  border: none;  
} 

h1 {  
  font-size: 2.6rem;  line-height: 3.0rem;   font-weight: 300;
} 

h2 {  
  font-size: 1.8rem;  line-height: 2.2rem;  font-weight: 300;
  color: orange;
} 

h3 {  
  font-size: 1.28rem;  line-height: 1.4rem; 
  /* color: yellow; */
}

h4 {  
  font-size: 1.4rem;  line-height: 1.4rem;  padding-bottom: 0.6rem;
  /* color: greenyellow; */
}


p,ul,li {  
  font-size: 1.2rem; 
  line-height: 1.6rem; 
  padding: 0 0 0 0; 
  margin: 0;
  /* color: green; */
}

/* in aside + main + footer */

.text_link:link,.text_link:visited {
  display: inline-block;
  color: var(--main_white_100);
  text-decoration: none; 
  /* font-size: 1.1rem; */
  margin: 0; padding: 0; 
  border: 0.1rem; 
  border-style: solid;
  border-color: transparent transparent var(--main_white_default) transparent;
  transition: 0.366s ease-out;
}
.text_link:hover,.text_link:active,.text_link:focus {
  border: 0.12rem; 
  border-style: solid;
  border-color: transparent transparent var(--main_white_hover) transparent;
  transition: 0.366s ease-out;
}


/* DEAD FONT CLASSES ? */
.bolder-wider {  
  font-size: 1.3rem;  line-height: 1.4rem; 
  width: 98%; text-align: left; 
  letter-spacing: 0.16rem;
  color: pink; 
  /* DEAD CLASS? */}
.center-text{  
  font-size: 1.6rem;  line-height: 1.6rem;  
  padding: 0;  margin: auto;  text-align: center;
  text-shadow: 0.1px 0.1px 0.2px #33335200; text-align: center; 
  color: pink; 
  /* DEAD CLASS? */}
.med_large {  
  font-size: 1.3rem;  line-height: 1.7rem; 
  color: pink; 
  /* DEAD CLASS? */}

.intro_font, .bolder-wider {  
  font-size: 1.1rem;  line-height: 1.4rem;  
  width: 98%; text-align: left; 
  color: pink; 
  /* DEAD CLASS? */}
.XXL_font { 
  text-align: center; font-size: 1.6rem;  line-height: 1.6rem; 
  padding: 0;  margin: 0;  
  text-shadow: 2px 2px 5px #333352;
  color: pink; 
  /*  DEAD CLASS? */}
.br-1 {  
  width: 100px;   height: 0.7rem;  margin: 0 auto; 
  color: pink; 
  /*  DEAD CLASS? */}

.smaller_font {   
  font-size: 1rem;  
  padding-bottom: 1rem; 
  color: pink; 
  /*  DEAD CLASS? */}

/* 
p.intro_font_plusplus   { 
  font-size: 1.1rem;  line-height: 1.4rem;
  width: auto; text-align: left; 
  padding: 0.3rem 0 0.1rem 0; 
  color: pink; }

p.intro_statement { 
  font-size: 1.1rem;  line-height: 1.2rem;
  width: auto; text-align: left; 
  padding: 0.2rem 0 .4rem 0;   
  color: pink; } 
*/








/******************************************************************************/
/* NAVIGATION */

.nav_background {
  background-color: var(--main_dark_gray_100); 
  position: fixed; z-index: 1;  top: 0;  left: 0;
  width: 100vw;  height: 4rem; 
  margin: 0 auto;   padding: 0;
}

nav {
  display: flex;  flex-direction: row;   justify-content: space-between; 
  width: 1100px;  height: 4rem;  
  margin: 0 auto;  padding: 0;  
} 

.nav_left, .nav_right {  display: flex;  padding: 0;  margin: 0; align-items: center; } 

.nav_box,/* in between */
.nav_box1, .nav_box2, .nav_box3,.nav_box4, .nav_box5, .nav_box6 {
  display: flex; align-items: center; 
  color: rgba(228, 228, 228);  text-decoration: none;
  margin: 0 0 0 0;  padding: 0 0 0 2vw;
  border: none; 
}
.nav_box1 {  padding: 0;}
.nav_box3 {  color: rgb(230, 193, 213);  color: rgb(194, 165, 181);  animation: flip_text 0.3s infinite;} @keyframes flip_text { 20% { transform: rotate(2deg); }}

.nav_box7_mobile {  
  visibility: hidden;  
  padding: 0;  margin: 0;  
  width: 0;  height: 0;  font-size: 0; 
}
  
/* NAVIGATION LINKS */
.nav_background nav div a, .nav_box {
  align-content: space-between;
  font-size: 1.5rem;  font-weight: 100;  text-decoration: none;  color: rgba(228, 228, 228);
}
.nav_background nav div:hover:not(.nav_box, .nav_box7), .nav_background nav div:active:not(.nav_box, .nav_box7),
.nav_background nav div:focus:not(.nav_box, .nav_box7), .nav_background nav div:visited {
  color: rgba(228, 228, 228, 0.666);
}




/******************************************************************************/
/* MOBILE NAVIGATION OVERLAY */
.overlay {
  height: 0%;  width: 100%;
  position: fixed;  top: 0;  left: 0;  z-index: 1;
  background-color: #1c1c22;
  overflow-y: hidden;
  transition: 0.666s ease-out;
}
.overlay-content {
  position: relative;  top: 10vh;  margin-top: 10vh; width: 100%;
  text-align: center; 
}
.overlay a:not(.close_X) {
  padding: 8px;
  text-decoration: none;
  color: var(--main_white_100);
  display: block;
  font-size: 40px;
  transition: 0.666s;
}
.overlay a:hover,.overlay a:focus {  color: var(--main_white_100);  /* transform: scale(1.1); */}
.overlay .close_X {  /*compare mq mobile nav box 7  line 1228*/
  position: absolute;   top: 0;  right: 0;
  display: flex !important;  align-items: center;  justify-content: center;
  width: 10vh;  height: 10vh;
  margin: 0;  padding: 0 15px 0 0;
  font-size: 7.5vh;
  background-color: none;
}







/******************************************************************************/
/* HERO IMAGE */

.hero-image {
  position: absolute;  z-index: -2;  margin-top: 0rem;  left: 0;  right: 0;
  height: 100vh;   width: 100%;
  background: url('./images/main_main/astronaut_AdobeStock_430310386.jpeg') fixed center;
  background-size: cover;
  filter: opacity(010%) saturate(010%); 
  mix-blend-mode: luminosity;
}
.hero-image-slideshow {
  position: absolute;  z-index: -1;  margin-top: 0rem;  left: 0;  right: 0;
  height: 100vh;    width: 100%; 
  background: url('./images/main_main/astronaut_AdobeStock_430310386.jpeg') fixed center; 
  filter: opacity(010%) saturate(010%);
  background-size: cover; 
  animation-name: background;  animation-duration: 3666ms;
  animation-direction: alternate;  animation-timing-function: linear;  animation-iteration-count: 1;
}
@keyframes background {
  000% {    filter: opacity(100%) saturate(100%);   }
  050% {    filter: opacity(050%) saturate(050%);   }
  100% {    filter: opacity(010%) saturate(010%);   }
}
.hero-image-attribution { /* it's in the footer */
  position: absolute;   z-index: 1;
  top: 105%;  left: 50%; 
  text-align: center;  transform: translate(-50%, -50%);
  color: var(--main_white_100);   filter: opacity(80%);
} 




/******************************************************************************/
/* OUTER SCREENS */

.screen1,.screen2,.screen3,.screen4,.screen5,.screen6 {
  background-color: none;
  margin-top: 2rem;  /* the height of nav */ 
  margin-bottom: 6rem;  
  padding:0;
  width: 1100px;
  display: flex;   flex-direction: column; 
  /* border: pink dashed 1px; */
}

.screen1 {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-size: 100vw; 
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  transform: scale(1); 
}

.screen_flex_layout1,.screen_flex_layout2,.screen_flex_layout3,
.screen_flex_layout4,.screen_flex_layout5,.screen_flex_layout6 {
  display: flex; 
  width: 1100px; 
  padding: 0; 
  margin: 0; 
  /* border: rgb(102, 255, 255) dashed 1px; */
}

.screen_flex_layout1 {
  display: flex; flex-direction: column;
  width: 1100px;   /* <- aside + main widths*/
  margin: 0 auto; 
  padding: 0; 
}

.scr1_articles {
  display: flex;  align-items: center;
  background-image: linear-gradient(#1c1c22b3, #1c1c2200) ; 
  width: 1100px;
  min-height: 100vh;
  margin: 0 auto;  
  /* border: green solid 2px; */
}

.scr1_article1_magda {
  display: flex;   flex-direction: column;   align-items: center; gap: 1rem; 
  width: 800px; 
  height: 90%; 
  /* border: blue dashed 3px; */
}

.scr1_article1_magda section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin: 0;
  padding: 0; 
  /* border: red dotted 1px; */
}

.skills_icon_line_top { display: flex; flex-wrap: wrap; justify-content: flex-start;   gap: 0.8rem;}
.skills_icon_line_top > img {  height: 3.2rem;  margin: 0;  padding: 0 0 1rem 0;  filter: saturate(30%);} 
.skills_icon_line_top > img {  height: 3.9rem;  margin: 0;  padding: 0 0 0.8rem 0;  filter: saturate(30%);} 
.squirrel-warning {display: flex; justify-content: center; filter: saturate(30%); height: 12rem;}






/* screen 1 ---> ACTION BUTTONS */

.scr1-buttons { 
  display: flex;  
  justify-content: space-between;
  width: 100%; 
  padding: 0; margin: 0; 
  gap: auto;
  /* border: red solid 1px; */
}

.cta_button {
  display: flex; align-items: center; 
  width: 380px;  height: 50px; 
  padding: 0; margin: 0;
  background-color: transparent;
  color: var(--main_white_defaut);
  border: var(--main_white_default) 0.10rem solid; border-radius: 0.2rem; 
}
.cta_button:hover, .cta_button:focus, .cta_button:active {
  color: var(--main_white_hover);
  border: var(--main_white_hover) 0.14rem solid; border-radius: 0.2rem;
}

.cta_button_content { 
  display: flex;  align-items: center;  align-content: center; justify-items: center;  justify-content: center; 
  width: 200px;   height: 50px;
  margin: 0 auto;  padding: 0.5rem;
  color: var(--main_white_default);  text-decoration: none;  text-align: center;  font-size: 1.4rem;
  background-color: transparent;
}
.cta_button_content:hover,.cta_button_content:focus,.cta_button_content:active {
  color: var(--main_white_hover);
}



/******************************************************************************/
/* INNER SCREENS 2++, ASIDES, MAINS + mods */ 

.screen_title {
  text-align: start;
  width: 1100px;
  padding: 0.8rem 0 0.2rem 0;
}



aside {  
  width: 300px; margin-right: 100px;
  /* text-align: left;
  border-color: transparent var(--main_white_020)  transparent transparent; 
  border-style: solid solid solid solid;  border-radius: 0 0.2rem 0 0; */
  /* background-color: lightgray; */
}
main {    
  width: 650px; margin-right: 50px;
  /* border-color: transparent transparent var(--main_white_020) var(--main_white_020);
  border-style: solid solid solid solid;  border-radius: 0 0 0 0.2rem; */
  /* background-color: blueviolet; */
}




/******************************************************************************/
/* SCREEN 2 :: EACH PROJECT AREA and CARD */  

.main-ux-projects {
  display: flex;  flex-direction: row;   flex-wrap: wrap;   justify-content: space-between;
  width: 1100px; 
  margin: 0;  padding: 0;   border: none;

}
.ux-project-container {
  display: flex;  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  margin: 0 0 5rem 0;  padding: 0rem; 
  background-color: #323030; 
  background-color: #45454540; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
  border: red 0px solid; 
  border-radius: 0.4rem;
  
} 

.ux-project-container {  
  /* position: relative;  bottom: 0;  left: 0; */
  width: 100%;  height: auto;
  
}

.ux-project-container .project_image {  
  /* position: relative;  bottom: 0;  left: 0; */
  width: 70%;  height: auto;  filter: saturate(80%);
  border-radius: 0.4rem 0rem 0rem 0.4rem; 
  object-fit: contain; 
  /* object-fit: cover;  */
  /* object-fit: fill;  */
}

.ux-project-text-box {
  /* border: pink dashed 1px; */
  height: auto;
  padding: 2rem;
}

.ux-project-container-100 {
  display: flex;   flex-direction: column;
  width: 100%;  
  margin-right: 0;   padding: 0; 
  border: rgba(228, 228, 228, 0.151) solid 10.2rem
} 



.view_button {
  display: flex;  flex-direction: row; justify-content: center;   align-items: center; 
  height: 3.6rem;  width: 100%;
  color: var(--main_white_default);  text-decoration: none;  text-align: center;  font-size: 1.4rem;
  background-color: transparent;
  color: var(--main_white_defaut);
  border: var(--main_white_default) 0.10rem solid; border-radius: 0.2rem; 
}
.view_button:hover,.view_button:focus,
.view_button:active {  
  color: var(--main_white_hover);
  border: var(--main_white_hover) 0.12rem solid; border-radius: 0.2rem;
}








/* INNER SCREENS : icons and icon bars except screen 1 (see above) */
.link_bars {  margin-top: 1rem;   width: 500px;   filter: saturate(100%) brightness(120%); }
.link_bars:hover {  opacity: 100%;  filter: saturate(100%) brightness(150%);}
.skills_icon_line {  border: pink solid 0px;}
.skills_icon_line > img {  height: 4rem;  margin: 0;  padding: 0 0 1rem 0;  filter: saturate(30%);}






/* SCREEN 6 with changed contact layout */
.screen6 {  border: rgba(48, 0, 0, 0) 1px solid;}
.screen_flex_layout6 {  display: flex;  flex-direction: row;}
.screen_flex_layout6 aside {  display: flex;  flex-direction: column;  align-content: flex-start; width: 300px; margin-right: 100px;}
.screen_flex_layout6 aside .address {  display: flex;  flex-direction: column;  align-items: flex-start;  width: 100%; }
.screen_flex_layout6 aside .address .contact_icon_line_mag {  
  display: flex; flex-direction: row-reverse; align-items: center;  
  margin: 0;  padding: 0; height: 3rem; margin-bottom: 1rem;
}
.screen_flex_layout6 main {  display: inline-block;  margin-right: 1rem;  padding: 0;  width: 650px; margin-right: 50px;}

/* -------------------------------------- */
.contact_icon_line_mag .text_link { height: 3rem; color:}
.clearing_div {  clear: both;  height: 0;  width: 0;}
.space_1vw {  width: 0.3rem;}

/* >>> each round png :: styled */
.icon_link { 
  width: 3rem;
  margin: 0;  padding: 0;
  background-color: none;  border: none;
  filter: invert(98%) sepia(1%) saturate(78%) hue-rotate(184deg) brightness(111%) contrast(79%);  opacity: 100%;
  -webkit-transition: transform 0.3s;  transition: transform 0.3s;
}
/* >>> each round png :: as a link */
.contact_icon_line_hyf > a > img:hover,.contact_icon_line_hyf > a > img:active,.contact_icon_line_hyf > a > img:focus,
.contact_icon_line_mag > a > img:hover,.contact_icon_line_mag > a > img:active,.contact_icon_line_mag > a > img:focus {
  transform: scale(0.9); 
  color: var(--main_white_100); 
  font-size: 1.2rem;
}
/* ...and its contact link */
.contact_icon_line_hyf > a:link,.contact_icon_line_hyf > a:visited,
.contact_icon_line_mag > a:link,.contact_icon_line_mag > a:visited {
  text-decoration: none;  background-image: none;  border: none;
  color: var(--main_white_100); 
  font-size: 1.2rem;
}













/******************************************************************************/
/* FOOTER */ /* footer_buttons are styled in the nav buttons section */

footer {
  margin: 5% 0 0 0;  padding: 0;
  text-align: center;
  width: 90vw;
}
.blob {
  display: flex;  flex-direction: row;  align-items: flex-end;  justify-content: flex-end;
  height: 500px;
  background-color: #b8b8b800;
  background-image: linear-gradient(to top, #b4b4b43a, #b6b6b625);
  clip-path: ellipse(42% 100% at 58% 100%);
}
.blob p {
  color: #2d2d2d;
  color: rgba(228, 228, 228, 0.733);
  margin: 0;  padding: 0 50px 20px 0;
}


