
/******************************************************************************/
/* AUTOMATIC SLIDES for my profile picture */

.autoslides_container_outer {
  /* border: 1px solid darkblue; */
  width: 9rem;  height: 9rem;
  margin: 0 auto;
}

.autoslides_container {
  /* border: 1px dashed rgb(71, 71, 255); */
  position: relative;
  width: 9rem;  height: 9rem;
}

.auto_slides {
  /* border: 1px solid rgb(82, 191, 241); */
  /* display: none; */
  width: 9rem;  height: 9rem;
}

.auto_images {
  border: 0.3vw solid #4a7d8a6b;
  border: 0.25rem solid #4a7d8a9f;
  border: 0.25rem solid #333352;
  border: 0.22rem solid rgba(248, 240, 240, 0.7);
  border-radius: 50%;
  width: 100%;
  filter: opacity(100%); mix-blend-mode: luminosity;
}

.auto_dots {
  display: inline-block;
  height: 0px;  width: 0px;  margin: 0 2px;
  border-radius: 50%;
  background-color: rgb(248, 240, 240);
  transition: background-color 0.666s ease;
}

.auto_active {
  /* background-color: #000000; */
  mix-blend-mode: luminosity;
}

.auto_fade {
  -webkit-animation-name: auto_fade;
  -webkit-animation-duration: 0.666s;
  animation-name: auto_fade;
  animation-duration: 0.666s;
}

@-webkit-keyframes auto_fade {  from {    opacity: 090%; mix-blend-mode: luminosity;  }  to {    opacity: 100%; mix-blend-mode: luminosity;  }}
@keyframes         auto_fade {  from {    opacity: 090%; mix-blend-mode: luminosity;  }  to {    opacity: 100%; mix-blend-mode: luminosity;  }}










/******************************************************************************/
/* JEWELLERY SLIDES */
.mySlides1, .mySlides2 {  display: none;}
.jewellery_presentation_container {
  /* border: red solid 1px;  */
  display: flex;
  padding: 0;   margin: 0; width: 100%;
}
.slideshow-container, .mySlides1_dot_descr {
  /* border: orange solid 1px; */
  display: flex;
  align-items: center;
  width: 33%;
  position: relative;
  margin: 0;
} 
.mySlides1_dot_descr_mobile {
  width: 0; height: 0; color: transparent;
}

.slideshow-container img { 
  vertical-align: middle;
  border: 0.20rem #33335267 solid;  border-radius: 50%;
  width: 100%;  height: 100%;
  filter: saturate(70%);  filter: opacity(80%);
  /* border: yellow solid 1px; */
}
.mySlides1_dot_descr p {
  display: flex;  align-items: center;  align-content: center; justify-items: center;  justify-content: center;
  border: 0px transparent solid;  border-radius: 50%;
  width: 100%;  height: 100%;
  background-color: #33335227;
  padding: 0; margin: 0;
  font-size: 1.0rem;
  /* border: yellow solid 1px; */
}

.prev, .next {
  position: absolute;  top: 40%;  width: auto;  user-select: none;
  padding: 0px 1rem 0px 1rem;  margin-top: 0;
  color: rgba(228, 228, 228, 0.664);  font-size: 2rem;
}
.prev:hover, .next:hover {  cursor: pointer;  user-select: none;
  color: rgb(238, 238, 238);  border: none;  transition: 0.7s ease;
}
.next {  right: 0;}









/* ACCORDION */

.accordion {  /* the panel and text on it  !!! without dingbats */
  background-color: rgba(255, 192, 203, 0.014);
  border: none;
  border-radius: 0.2rem;
  transition: 0.4s;
  padding: 1% 1% 1% 1%;
  margin: 0% 0% 1% 0%;
  width: 100%;
  color: rgb(228, 228, 228);
  font-size: 1rem;  
  font-weight: 100;
  font-family: 'Abel';
  text-align: left;
  text-shadow: 2px 2px 4px #333352ee;
  cursor: pointer;
  /* border: 2px red solid; */
}

.accordion:hover {  background-color: rgba(145, 145, 145, 0.068);}
.accordion.active {  background-color: rgba(255, 192, 203, 0.151);}

.accordion:after {
  content: '\02795';  /* DINGBATS PLUS */  /* content: "\02BC6"; */  /* content: "▼"; */
  content: "+";  /* content:"˅"; */
  color: rgba(228, 228, 228, 0.37);
  /* filter: invert(98%) sepia(1%) saturate(78%) hue-rotate(184deg) brightness(111%) contrast(79%); */
  /* filter: invert(94%) sepia(1%) saturate(397%) hue-rotate(136deg) brightness(111%) contrast(79%); */
  padding-right: 15px;
  float: right;
  font-size: 1rem;  font-weight: 100; text-align: center;  font-family: 'Fira Code Medium';
}

.accordion.active:after {
  content: "\2796";  /* DINGBATS MINUS */  /* content: "\02BC5"; */  /* content: "▲"; */
  content: "-";  /* content:"˄"; */
}

.panel {  /* the text inside the button-bar */
  width: 100%;
  padding: 0 0 0 1%;  margin: 0 0 1% 0;
  color: rgba(228, 228, 228, 0.897);
  background-color: rgba(255, 192, 203, 0.014);  background-color: rgba(255, 192, 203, 0.0);
  background: linear-gradient(180deg, rgba(255, 192, 203, 0.045), rgba(255, 192, 203, 0) 100%);
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.panel h3,.panel ul,.panel ul li,.panel ul li p {    padding-right: 0.4rem; } 

