:root {  
  --main_gray_100: rgba(67, 67, 67, 1.0); 
  --main_gray_080: rgba(67, 67, 67, 0.8);
  --main_gray_060: rgba(67, 67, 67, 0.6);
  --main_gray_040: rgba(67, 67, 67, 0.4);
  --main_gray_020: rgba(67, 67, 67, 0.2);
  --main_white_100: rgba(228, 228, 228, 1.0); 
  --main_white_080: rgba(228, 228, 228, 0.8);
  --main_white_060: rgba(228, 228, 228, 0.6);
  --main_white_040: rgba(228, 228, 228, 0.4); 
  --main_white_020: rgba(228, 228, 228, 0.2); 
  --main_accent_100: rgba(255, 219, 151, 1.0);
  --main_white_default: rgb(228, 228, 228); 
  --main_white_hover: rgba(228, 228, 228, 0.9); 
  --main_dark_gray_100: rgba(28, 28, 34, 1.0);
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
  font-size: 18px; 
}

*, *::before, *::after {
  box-sizing: inherit; 
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  overflow-y : visible; 
  font-family: 'Abel', sans-serif;
  background-color: var(--main_gray_100);
  color: var(--main_white_100); 
}


::selection {  color: var(--main_gray_100);  background: var(--main_white_100);} 

::-webkit-scrollbar {  
  background-color: var(--main_dark_gray_100); 
  width: 1px; 
  overflow-y: overlay; 
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem var(--main_dark_gray_100);  
  border-radius: 0px;
  overflow-y: overlay; 
}
::-webkit-scrollbar-thumb { 
  background: var(--main_white_default);  
  border-radius: 0.5rem;
  overflow-y: overlay; 
}
::-webkit-scrollbar-thumb:hover {  
  background: var(--main_white_hover);
  overflow-y: overlay; 
}


#holo_fun {
  background-image: 
  linear-gradient(0.12turn,  
  rgba(0, 0, 0, 0.277),
  rgba(0, 0, 0, 0.103),
  rgba(0, 0, 0, 0.244));
  background-size: 369.666%;
}


.flex_row {  display: flex;  flex-direction: row;}
.flex_column {  display: flex;  flex-direction: column;}
.clearfix { overflow: hidden;}
.anchor {  position: absolute;  margin: -9.666vh 0 0 0;  border: 0px solid pink;} 
.char_desaturated {  filter: grayscale(80%);}  
.white-space-1rem {  padding-left: 1rem;} 
.space_1vw {  width: 0.3rem;}
.breathe {  height: 0.5rem;} 
.highlight {color: var(--main_accent_100);}
.clearing_div {  clear: both;  height: 0;  width: 0;} 
.unbreakable {white-space: nowrap;}



h1, h2, h3, h4 {  
  color: var(--main_white_100); 
  text-shadow: 0.1vw 0.1vw 0.2vw var(--main_gray_100); 
  font-weight: 100; 
  padding: 0;  
  margin: 0;  
  border: none;  
} 

h1 {  font-size: 2.60rem;  line-height: 3.0rem;  } 
h2 {  font-size: 1.56rem;  line-height: 2.8rem;  } 
h3 {  font-size: 1.48rem;  line-height: 2.4rem;  
      color: var(--main_accent_100); padding-bottom: 1.0rem;}
h4 {  font-size: 1.40rem;  line-height: 2.4rem;  }


p, ul, ul li, ol {  
  font-size: 1.0rem; 
  line-height: 1.7rem; 
  padding: 0 0 0 0;  
  margin: 0 0 1rem 0;  
  list-style-type: none; 
  overflow-wrap: anywhere;
  /* border: solid green 1px; */
}

.large {
  font-size: 1.1rem; 
  line-height: 1.8rem; 
}
.small {
  font-size: 1.0rem; 
  line-height: 1.6rem; 
}


/* LINKS LOCATOR :) */
/* a {  border: solid red 2px;} */


/* text links with underline */

.text_link:link,
.text_link:visited {
  display: inline-block;
  margin: 0; 
  padding: 0; 
  transition: 0.366s ease-out; 
  color: var(--main_white_100);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-style: wavy; 
  text-decoration-style: dotted; 
  text-decoration-color: rgba(255, 255, 255, 0);
  text-underline-offset: 0.48rem; 
  text-decoration-thickness: 0.06rem;
  /* border: solid red 1px; */
}
.text_link:hover,
.text_link:active,
.text_link:focus {
  text-decoration-color: var(--main_accent_100);
}




/* CTA BUTTONS and FLOATING BOTTON*/

button {
  display: flex; flex-direction: row; 
  justify-content: center; align-items: center;
  padding: 0;
  margin: 0;
  height: 3.6rem;
  width: 260px;

  font-family: inherit; 
  color: var(--main_white_default);  

  background: rgba(255, 255, 255, 0.050);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);

  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.1);

  border: var(--main_white_020) 0.001rem solid; 
  border-radius: 0.09rem; 

  transform: scale(1);
  transition: all 0.3s ease;
  touch-action: manipulation;
  will-change: transform; 
  -webkit-tap-highlight-color: transparent;
  cursor: pointer; 
}

/* Regular pseudoclasses - for non-touch devices by default */
button:hover          {transform: scale(0.99); background: rgba(255, 255, 255, 0.030); box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.3); }
button:focus-visible  {transform: scale(0.98); background: rgba(255, 255, 255, 0.020); box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.3); }
button:active         {transform: scale(0.98); background: rgba(255, 255, 255, 0.020); box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.4); }

.button_content { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;   
  height: 100%;   
  padding: 0;     
  margin: 0;

  color: var(--main_white_default);  
  text-decoration: none;  
  text-align: center;  
  font-size: 1.2rem; 
}
.button_content:hover,
.button_content:focus,
.button_content:active {
  color: var(--main_white_hover);
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.458); 
}

#takeMeUp {
  height: 3rem;
  width: 3rem;
  display: none;  
  position: fixed; 
  cursor: pointer; 
  outline: none;
  bottom: 1rem;  
  right: 0.8vw;  
  z-index: 99;  
}













/* FULL NAVIGATION */

.nav_background {
  background-color: var(--main_dark_gray_100); 
  position: fixed; z-index: 1;  top: 0;  left: 0;
  width: 100vw;  
  height: 4rem; 
  margin: 0 auto;   
  padding: 0;
}

nav {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  width: 1100px;  
  height: 4rem;  
  margin: 0 auto;  
  padding: 0;  
}

.nav_left, 
.nav_right {  
  display: flex; 
  align-items: center;  
  padding: 0;  
  margin: 0; 
} 

.nav_box, /* in between */
.nav_box1, .nav_box2,.nav_box3,
.nav_box4, .nav_box5,.nav_box6 {
  display: flex; 
  align-items: center;  
  /* text-decoration: none; */
  margin: 0 0 0 0;  
  padding: 0 0 0 2vw;
  /* border: none;  */
}
/* but Magda gets no padding left */
.nav_box1 {  padding: 0;}

/* invisible burger */
.nav_box7_mobile {  
  visibility: hidden;  
  padding: 0;  
  margin: 0;  
  width: 0;  
  height: 0;  
  font-size: 0; 
  transform: scale(1);
  transition: all 0.3s ease;
}


/* nav links styled legacy version to consider */
/* 
.nav_background nav div a,
.nav_background nav div a:visited 
.nav_box {
  align-content: space-between;
  font-size: 1.5rem;  
  text-decoration: none;  
  color: var(--main_white_white);
  cursor: pointer;
  transition: 0.366s ease-out; 
}
.nav_background nav div a:hover:not(.nav_box, .nav_box7), 
.nav_background nav div a:active:not(.nav_box, .nav_box7),
.nav_background nav div a:focus:not(.nav_box, .nav_box7) {
} 
*/

/* nav links styling similar to text links */
.nav_box1 a, .nav_box1 a:visited,
.nav_box3 a, .nav_box3 a:visited,
.nav_box6 a, .nav_box6 a:visited,
.nav_box a,.nav_box a:visited {
  align-content: space-between;
  font-size: 1.5rem;  
  color: var(--main_white_white);
  cursor: pointer;
  transition: 0.366s ease-out; 
  /* text-decoration: none;   */
  text-decoration-style: dotted; 
  text-decoration-color: rgba(255, 255, 255, 0);
  text-underline-offset: 0.48rem; 
  text-decoration-thickness: 0.06rem; 
}
.nav_box1 a:hover, .nav_box1 a:focus, .nav_box1 a:active,
.nav_box3 a:hover, .nav_box3 a:focus, .nav_box3 a:active,
.nav_box3 a:hover, .nav_box6 a:focus, .nav_box6 a:active,
.nav_box6 a:hover, .nav_box a:focus, .nav_box a:active,
.nav_box a:hover {
  color: var(--main_white_hover);
  text-decoration-color: var(--main_accent_100);
}

.overlay {
  display: none;
  /* border: orange solid; */
}


/* MOBILE NAVIGATION */
/* styled in media queries */

/*CLOSING X on overlay - legacy version 
- styling moved to MQ  */
/* .overlay .close_X {  
  position: absolute;   
  top: 0;  
  right: 0;
  display: flex !important;  
  align-items: center;  
  justify-content: center;
  width: 10vh;  
  height: 10vh;
  margin: 0;  
  padding: 0 15px 0 0;
  font-size: 7.5vh;
  background-color: none;
  border: red solid 1px;
} */












.hero-image {
  position: absolute;  z-index: -2;  margin-top: 0rem;  left: 0;  right: 0;
  height: 100vh;   
  height: calc(100vh - 4rem); /* hero image minus wide nav*/
  width: 100%;
  background: url('./images/main_main/astronaut_AdobeStock_430310386.jpeg') fixed center;
  background-size: cover;
  filter: opacity(010%) saturate(010%); 
  mix-blend-mode: luminosity;
}
.hero-image-slideshow {
  position: absolute;  z-index: -1;  margin-top: 0rem;  left: 0;  right: 0;
  height: 100vh;  
  height: calc(100vh - 4rem); /* hero image minus wide nav*/
  width: 100%; 
  background: url('./images/main_main/astronaut_AdobeStock_430310386.jpeg') fixed center; 
  filter: opacity(010%) saturate(010%);
  background-size: cover; 
  animation-name: background;  
  animation-duration: 2666ms;
  animation-direction: alternate;  
  animation-timing-function: linear;  
  animation-iteration-count: 1;
}
@keyframes background {
  000% {    filter: opacity(100%) saturate(100%);   }
  050% {    filter: opacity(050%) saturate(050%);   }
  100% {    filter: opacity(010%) saturate(010%);   }
}

/* it's in the footer */
/* .hero-image-attribution { 
  position: absolute;   z-index: 1;
  top: 105%;  left: 50%; 
  text-align: center;  transform: translate(-50%, -50%);
  color: var(--main_white_100);   filter: opacity(80%);
}  */











/* OUTER SCREENS */

.screen1,.screen2,.screen3,.screen4,.screen5,.screen6 {
  background-color: none;
  margin-top: 2rem;  /* 1/2 height of nav */ 
  margin-bottom: 6rem;  
  padding: 0 0 0 0;
  width: 1100px;
  display: flex;   flex-direction: column; 
}

.screen_flex_layout1,
.screen_flex_layout2,
.screen_flex_layout3,
.screen_flex_layout4,
.screen_flex_layout5,
.screen_flex_layout6 {
  display: flex; 
  width: 1100px; /* <- aside + main widths*/
  margin: 0 auto; 
}


/* SCREEN 1 OVERRIDES */

.screen1 {
  width: 100vw;
  height: calc(100vh - 4rem); /* hero image minus wide nav*/
  margin-top: 4rem;  /* the height of nav */ 
  background-size: cover;
  background-size: 100vw; 
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  transform: scale(1); 
  /* border: solid 4px red;                              */
}

.screen_flex_layout1 {
  flex-direction: column; 
  height:100%;
  /* border: solid 4px blue;                           */
}

.scr1_articles {
  display: flex; 
  flex-direction: column; 
  justify-content: center; /*top padding === bottom padding */ 
  /* align-items: center; */ /*legacy from row setup */ 
  width: 1100px;
  height:100%;
  margin: 0 auto;  
  background-image: linear-gradient(#1c1c22b3, #1c1c2200) ; 
  /* border: solid 4px green;                            */
}

.scr1_article1_magda {
  display: flex;   
  flex-direction: column;   
  align-items: center; 
  gap: 1rem; 
  width: 800px; 
  height: auto; 
  /* border: solid 2px orange;                            */
}

.scr1_article1_magda section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin: 0;
  padding: 0; 
  /* border: solid 2px yellow;                        */
}



.screen_title {
  text-align: start;
  width: 1100px;
  padding: 0.8rem 0 0.2rem 0;
  /* border: rgb(69, 219, 127) solid 2px; */
}


aside {  
  /* width: 400px; margin-right: 10px; */
  /* border: rgb(251, 63, 94) solid 2px; */
}
main {    
  /* width: 550px; margin-right: 50px; */
  /* border: rgb(149, 13, 36) solid 2px; */
}




/* SCREEN 2 :: EACH PROJECT AREA and CARD */  

.main-ux-projects {
  display: flex;  flex-direction: row;   
  flex-wrap: wrap;   justify-content: space-between;
  width: 1100px; 
  margin: 0 0 0 0;  
  padding: 0 0 0 0;   
  border: none;
}
.ux-project-container {
  display: flex;  flex-direction: row;
  justify-content: flex-start;
  width: 100%; 
  height: auto;
  margin: 0 0 5rem 0;  
  padding: 0 0 0 0; 
  background-color: #323030; 
  background-color: #45454540; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
  border-radius: 0.3rem;
  /* position: relative;  bottom: 0;  left: 0; */
} 
.ux-project-container .project_image {  
  /* position: relative;  bottom: 0;  left: 0; */
  width: 70%;  
  height: auto;  
  filter: saturate(90%);
  border-radius: 0.4rem 0rem 0rem 0.4rem; 
  object-fit: contain; 
  object-fit: cover; 
  object-fit: fill; 
}
.ux-project-text-box {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 2rem 2rem;  
  display: flex;  
  flex-direction: column;      
  justify-content: space-between;
}




/* SCREEN 6 :: CONTACT */  

.screen_flex_layout6 {  
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  /* border: solid green 1px; */
}

/* contact > main */
.screen_flex_layout6 main {  /* consider display: inline-block;   */
  padding: 0;  
  margin: 0;
  width: 700px; 
  /* border: pink solid 2px; */
}

/* contact > aside */
.screen_flex_layout6 aside {  
  display: flex;  flex-direction: column;  
  align-content: flex-start; 
  width: 360px; 
  margin-right: 40px;
  /* border: pink dotted 2px; */
}

/* contact > aside > address div */
.screen_flex_layout6 aside .address {  
  display: flex;  flex-direction: column;  
  align-items: flex-start;  
  width: 100%; 
}

/* contact > aside > address div > single line div */
.screen_flex_layout6 aside .address .contact_icon_line_mag {  
  display: flex; flex-direction: row-reverse; 
  align-items: center;  
  margin: 0 0 1rem 0;  
  padding: 0 0 0 0; 
  height: 2.6rem; 
}

/* contact > aside > address div > single line> a img*/
.icon_link { 
  width: 2.6rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: transparent;
  border: none;
  filter: invert(98%) sepia(1%) saturate(78%) hue-rotate(184deg) brightness(111%) contrast(79%);
  opacity: 100%;
}
/* contact > aside > address div > single line> a img pseudoclasses*/
.contact_icon_line_mag > a > img:hover, 
.contact_icon_line_mag > a > img:active,
.contact_icon_line_mag > a > img:focus {
  color: var(--main_white_hover); 
  transform: scale(0.96); 
}

/* contact > aside > address div > single line> a text default*/
.contact_icon_line_mag > a:link,
.contact_icon_line_mag > a:visited {
  color: var(--main_white_100); 
  font-size: 1.0rem;
  line-height: 1rem;
  transition: 0.366s ease-out; 
  text-decoration-style: dotted; 
  text-decoration-color: rgba(255, 255, 255, 0);
  text-underline-offset: 0.48rem; 
  text-decoration-thickness: 0.06rem;
}
/* contact > aside > address div > single line> a text pseudoclasses*/
.contact_icon_line_mag > a:hover,
.contact_icon_line_mag > a:focus {
  color: var(--main_white_100);
  text-decoration-color: var(--main_accent_100);
  /* text-decoration-color: rgba(255, 255, 255, 0); */
}





footer {
  margin: auto;  
  padding: 4vw 0 4vw 0;
  text-align: center;
  width: 100vw; 
  background-color: var(--main_dark_gray_100);
}

.footer_content {
width: 1100px;
}
